:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  >.joke {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e6e8ec;
    padding: 9px;
    border: 1px solid #c8cacf;
    border-radius: 4px;

    >img {
      min-width: 60px;
      margin-right: 10px;
    }

    >div {
      max-width: 290px;
    }
  }
}